.notification {
  text-decoration: none;
  padding: 0;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -18px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}